:root {
  --main-color: rgb(180, 119, 5);
  --main-color-b: rgba(2, 37, 46, 0.952);
  --main-color-para: rgb(209, 204, 209);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: var(--main-color); */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

table {
  border-spacing: 0.4rem;
  margin: 5rem 0;
  background-color: var(--main-color-b);
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {
  background-color: rgba(2, 37, 46, 1);
}

th {
  text-align: center;
  color: var(--main-color-para);
  padding: 2rem 0rem;
  border-collapse: collapse;
  font-size: 1.5rem;
}

td {
  border-collapse: collapse;
  padding: 1rem 0;
  color: var(--main-color-para);
  padding: 1rem 2rem;
}

span {
  color: var(--main-color);
}
.table-container {
  margin: 0 auto;
  max-width: 800px;
  outline: 2px solid pink;
}
td:nth-of-type(even) {
  color: rgb(124, 121, 121);
}
tr:nth-of-type(5th) {
  margin-bottom: 3rem;
}
